.switch {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 44px;
  height: 24px;
  cursor: pointer;
}

/* Основной фон */
.switch__input {
  appearance: none;
  width: 100%;
  height: 100%;
  background: var(--border);
  border-radius: 12px;
  outline: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

/* Ползунок */
.switch__inner {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 18px;
  height: 18px;
  background: var(--text);
  border-radius: 50%;
  transition: transform 0.3s ease;
  z-index: 2;
}

.switch__input:checked + .switch__inner {
  transform: translateX(20px);
}

/* Иконки */
.switch__inner-icons {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px;
  pointer-events: none;
  z-index: 3;
}

.switch__icon {
  color: var(--bg);
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.switch__icon.inactive {
  opacity: 0.3;
}


/* Плавная смена темы */
html, body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Для screen reader */
.switch__sr {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
}

